* {
    padding: 0;
    margin: 0;
}

body {
    background-color: brown;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.calculatror{
    width: 300px;
    height: max-content;
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
}
.input-area input, .input-area select {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid gray;
    text-indent: 5px;
}
.calculatror h1{
    text-align: center;
    margin: 10px 0;
}
.btn{
    padding: 10px;
    background-color: brown;
    color: white;
    width: 100%;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}