:root {
    --main-color: rgba(23, 26, 29, 0.8);
}

.navbar{
    background: var(--main-color);
}
body{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}
.nav-item {
    text-transform:uppercase
}
.slide, .slide .carousel-item{
    height: calc(100vh);
}
.slide .carousel-item img{
    height: 100%;
}
.carousel-indicators button{
    border-radius: 50%;
    height: 10px !important;
    width: 10px !important;
}
.carousel-caption{
    bottom: 40%;
    z-index: 1;
    display: block !important;
}
.carousel-item::before{
    content: "";
    background-color: rgba(12, 13, 14, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}
.icon {
    padding: 5px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}