:root {
    --main-color: rgba(16, 7, 7, 1) 
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, sans-serif;
    overflow-x: hidden;
    height: 2000px;
}
.container {
    padding: 10px 30px;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    font-size: 25px;
    letter-spacing: 3px;
    position: fixed;
    border: 1px solid gray;
    z-index: 1;
}
.navbar .title{
    font-size: 30px;
    color: var(--main-color);
}
.navbar .links{
    margin-right: 40px;
}
.navbar .links a {
    padding: 20px;
    text-decoration: none;
    color: var(--main-color);
    transition: 0.5s all;
}
.navbar .links a:hover {
    background-color: gray;
    color: white;
}

.header{
    background: url('./images/architect.jpg');
    height: calc(100vh - 50px);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
}

.header .title b {
    background-color: var(--main-color);
    opacity: 0.6;
    padding: 10px;
}
.title-area h3{
    margin: 10px 0;
    color: var(--main-color);
}
.title-area hr {
    background-color: rgb(195, 195, 195);
}



.position-relative {
    position: relative;
}
.row .img1{
    width: 48%;
}
.row img{
    width: 100%;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-text{
    padding: 20px;
    background-color: black;
    width: 100px;
    position: absolute;
    top: 0;
    color: white;
}